html,body {
	/* background: lightgreen; */
	height: 100%;
	background: #0a8525;
	/* font-family: 'Acme', sans-serif; */
}

body {
	display: flex;
	flex-direction: column;
  }

.content {
	flex: 1 0 auto;
}

.present, h1 {
	display: inline-block;
}

header {
	/* display: inline-block; */
	/* float: left; */
	background: #cc0004;
	text-align: center;
	/* background: lightcoral; */
	color: white;
	padding: 1em;
	/* border-color: white; */
	border: thick ridge white;
}

h1 {
	text-align: center;
	font-family: 'Acme', sans-serif;
	/* font-family: 'Signika Negative', sans-serif; */
	/* font-family: 'Lobster', cursive; */
	/* font-family: 'Varela Round', sans-serif; */
}

.present {
	width: auto;
	height: auto;
	max-height: 55px;
	margin-bottom: 15px;
}

/* present for larger screens */
#present1 {
	max-height: 55px;
}

/* for when viewport becomes small */
#present2 {
	display: none;
	max-height: 70px;
}

#instructions {
	text-align: center;
	color: white;
	/* font-family: 'Signika Negative', sans-serif; */
}

#remove-instructions {
	display: none;
}

#remove {
	background: blue;
	font-family: 'Acme', sans-serif;
}

.gif-button {
	margin: 3px;
	font-family: 'Signika Negative', sans-serif;
	border-radius: 5%;
	background: goldenrod;
	color: white;
}

.gif-button:hover{
	border-color: lightgoldenrodyellow;
	color: lightgoldenrodyellow;
}

.gif-button:active{
	border-color: black;
	color: black;
}

#buttons {
	/* background: white; */
	/* width: 80%; */
	margin: auto;
}

#button-container {
	width: 80%;
	margin: auto;
	background: white;
	padding: 7px;
}

.form-control {
	margin-bottom: 10px;
}



#gifs-area, #favorites {
	width: 80%;
	margin: auto;
	padding: 7px;
	/* display: inline-flex-block; */
	background: white;
}

#gifs-header {
	 font-family: 'Acme', sans-serif;
	
	/* font-style: italic; */
}

.animate {
	border-color: grey;
	background: black;
	color: white;
}

figure {
	display: inline-block;
	margin: 4px;
	/* float: left; */
}

figcaption {
	/* font-family: 'Acme', sans-serif;  */
	/* font-weight: bold; */
	font-style: italic;
}

.gif {
	width: auto;
	height: auto;
	/* max-width: 250px; */
}

.fav-container, .remove-fav-container {
	text-align: center;
	margin-top: 6px;
}

.favorite, .remove-favorite {
	background: royalblue;
	color: white;
	border-color: lightgray;
}

#submit {
	background: red;
	color: white;
	font-family: 'Acme', sans-serif;
	font-weight: bold;
	border-color: lightgray;
}

#submit:hover {
	background: #cc0004;
}

footer {
	flex-shrink: 0;
	background: #cc0004;
	color: white;
	text-align: center;
	padding: .25em;
	font-size: 1.2em;
}

#footer-link {
	/* color: lightgoldenrodyellow; */
	color: white;
}

.wreath {
	width: auto;
	height: auto;
	max-height: 1.5em;
}

@media screen and (max-width: 493px) {
	.gif {
		max-width: 285px;
	}

	#present1 {
		display: none;
	}
	#present2 {
		display: initial;
	}
}